In [2]:
import warnings
warnings.filterwarnings('ignore')

# importing modules and packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
import pandas as pd
import tensorflow as tf
from pathlib import Path
from sklearn import preprocessing
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.ensemble import GradientBoostingClassifier

In [3]:
covid_df = pd.read_csv(Path('Resource/Covid_Data.csv'))
covid_df.head()

,USMER,MEDICAL_UNIT,SEX,PATIENT_TYPE,DATE_DIED,INTUBED,PNEUMONIA,AGE,PREGNANT,DIABETES,...,ASTHMA,INMSUPR,HIPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,CLASIFFICATION_FINAL,ICU
0,2,1,1,1,03/05/2020,97,1,65,2,2,...,2,2,1,2,2,2,2,2,3,97
1,2,1,2,1,03/06/2020,97,1,72,97,2,...,2,2,1,2,2,1,1,2,5,97
2,2,1,2,2,09/06/2020,1,2,55,97,1,...,2,2,2,2,2,2,2,2,3,2
3,2,1,1,1,12/06/2020,97,2,53,2,2,...,2,2,2,2,2,2,2,2,7,97
4,2,1,2,1,21/06/2020,97,2,68,97,1,...,2,2,1,2,2,2,2,2,3,97

In [4]:
# Applying the condition-Outcome column
covid_df['DATE_DIED'] = ['0' if DATE_DIED == '9999-99-99' else '1' for DATE_DIED in covid_df['DATE_DIED']]
covid_df.head(30)

,USMER,MEDICAL_UNIT,SEX,PATIENT_TYPE,DATE_DIED,INTUBED,PNEUMONIA,AGE,PREGNANT,DIABETES,...,ASTHMA,INMSUPR,HIPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,CLASIFFICATION_FINAL,ICU
0,2,1,1,1,1,97,1,65,2,2,...,2,2,1,2,2,2,2,2,3,97
1,2,1,2,1,1,97,1,72,97,2,...,2,2,1,2,2,1,1,2,5,97
2,2,1,2,2,1,1,2,55,97,1,...,2,2,2,2,2,2,2,2,3,2
3,2,1,1,1,1,97,2,53,2,2,...,2,2,2,2,2,2,2,2,7,97
4,2,1,2,1,1,97,2,68,97,1,...,2,2,1,2,2,2,2,2,3,97
5,2,1,1,2,0,2,1,40,2,2,...,2,2,2,2,2,2,2,2,3,2
6,2,1,1,1,0,97,2,64,2,2,...,2,2,2,2,2,2,2,2,3,97
7,2,1,1,1,0,97,1,64,2,1,...,2,1,1,2,2,2,1,2,3,97
8,2,1,1,2,0,2,2,37,2,1,...,2,2,1,2,2,1,2,2,3,2
9,2,1,1,2,0,2,2,25,2,2,...,2,2,2,2,2,2,2,2,3,2
10,2,1,1,1,0,97,2,38,2,2,...,2,2,2,2,2,2,2,2,3,97
11,2,1,2,2,0,2,2,24,97,2,...,2,2,2,2,2,2,2,2,3,2
12,2,1,2,2,0,2,2,30,97,2,...,2,2,2,2,2,2,2,2,3,2
13,2,1,2,1,0,97,2,55,97,2,...,2,2,2,2,2,2,2,2,3,97
14,2,1,1,1,0,97,2,48,2,1,...,2,2,2,2,2,2,2,2,3,97
15,2,1,1,1,0,97,2,23,2,2,...,2,2,2,2,2,2,2,2,3,97
16,2,1,1,2,0,2,1,80,2,2,...,2,2,1,2,2,2,2,2,3,1
17,2,1,2,1,0,97,2,61,97,2,...,2,2,2,2,2,2,2,2,3,97
18,2,1,2,1,0,97,2,54,97,2,...,2,2,2,2,2,2,2,2,3,97
19,2,1,1,1,0,97,2,64,2,2,...,2,2,2,2,2,2,2,2,3,97
20,2,1,2,2,0,2,1,59,97,1,...,2,2,2,2,2,2,2,1,3,1
21,2,1,2,1,0,97,2,30,97,2,...,2,2,2,2,2,2,2,2,3,97
22,2,1,2,1,0,97,2,45,97,2,...,2,2,2,2,2,2,2,2,3,97
23,2,1,1,1,0,97,2,26,2,2,...,2,2,2,2,2,2,2,2,3,97
24,2,1,1,1,0,97,2,38,2,2,...,2,2,2,2,2,2,1,2,3,97
25,2,1,2,1,0,97,2,24,97,2,...,2,2,2,2,2,2,2,2,3,97
26,2,1,2,1,0,97,2,32,97,2,...,2,2,2,2,2,2,2,2,3,97
27,2,1,2,1,0,97,2,49,97,2,...,2,2,2,2,2,2,2,2,3,97
28,2,1,2,1,0,97,2,39,97,2,...,2,2,2,2,2,2,2,1,3,97
29,2,1,2,1,0,97,2,27,97,2,...,2,2,2,2,2,2,2,2,3,97

In [5]:
# Generate our categorical variable list
covid_df.dtypes[covid_df.dtypes == "object"].index.tolist()

['DATE_DIED']

In [6]:
# Drop NA values(values>2)and column with too much missing values
covid_df = covid_df.drop(covid_df[covid_df["PREGNANT"] >= 2].index)

In [7]:
#covid_df = covid_df.drop(["PREGNANT","INTUBED","ICU"], axis = 1)
covid_df = covid_df.drop(["INTUBED","ICU"], axis = 1)
covid_df.head()

,USMER,MEDICAL_UNIT,SEX,PATIENT_TYPE,DATE_DIED,PNEUMONIA,AGE,PREGNANT,DIABETES,COPD,ASTHMA,INMSUPR,HIPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,CLASIFFICATION_FINAL
969,2,3,1,2,1,1,23,1,2,2,2,2,2,2,2,1,2,2,3
1735,1,3,1,2,1,1,30,1,2,2,2,2,2,2,2,2,2,2,3
1787,2,3,1,2,1,1,33,1,2,2,2,2,2,1,2,2,2,2,3
1856,1,3,1,1,0,2,57,1,2,2,2,2,1,2,2,1,2,2,1
1903,2,3,1,2,0,1,25,1,2,2,2,2,2,2,2,2,2,2,1

In [8]:
# Column values
covid_df.columns.values

array(['USMER', 'MEDICAL_UNIT', 'SEX', 'PATIENT_TYPE', 'DATE_DIED',
       'PNEUMONIA', 'AGE', 'PREGNANT', 'DIABETES', 'COPD', 'ASTHMA',
       'INMSUPR', 'HIPERTENSION', 'OTHER_DISEASE', 'CARDIOVASCULAR',
       'OBESITY', 'RENAL_CHRONIC', 'TOBACCO', 'CLASIFFICATION_FINAL'],
      dtype=object)

In [9]:
# Remove COVID death/fatality outcome target from features data
y = covid_df.DATE_DIED
X = covid_df.drop(columns="DATE_DIED")

In [10]:
X.shape

(8131, 18)

In [11]:
# Split training/test datasets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

In [12]:
# Create a StandardScaler instance
scaler = preprocessing.StandardScaler().fit(X_train)
scaler

StandardScaler()

In [13]:
scaler.mean_

array([ 1.6305346 ,  8.97310594,  1.        ,  1.24089866,  4.9180059 ,
       27.99737619,  1.        ,  2.12873073,  2.0916694 ,  2.08019023,
        2.1457855 ,  2.06559528,  2.19744178,  2.10511643,  2.03132174,
        2.10659233,  2.08707773,  5.48950476])

In [14]:
# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [200]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")